@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Auction House </h1>
    <p class="lead">Welcome to this online auction.</p><br>
    <p>For more information of the assignment click here:</p>
    <p><a href="http://www.wou.edu/~morses/classes/cs46x/assignments/HW8_1819.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Place Bid</h2>
        <p>
            If you would like to join in our online auction and would like to place a bid click here to place your bid for the item.
        </p>
        <p><a class="btn btn-default" href="/Bids/Create">Place Bid &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>To see the list of items what is the current bids for item click here:</p>
        <p><a class="btn btn-default" href="/Items/Index">Auction List &raquo;</a></p>
    </div>
</div>