body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


input,
select,

div.text1{
    max-height:300;
}

div.text2 {
    max-height: 300;
}

div.phone {
    max-height: 300;
}

div.AB {
    max-height: 300;
}
div.Room{
    max-height: 300;
}
/* Set width on the form input elements since they're 100% wide by default */
textarea.details {
    max-width: 570px;
}
