@{
    ViewBag.Title = "Color Maker";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<div class="col-md-6 form-group">
    <label for="input">Color:</label>
    <input type="string" class="layout-form" id="input" step=".01" name="color" placeholder="T# XXX.XXX.XXX.XXX" required />
</div>