nav{
    background-color: white;
}
body{
    background-color: lightblue ;
}
.container-fluid{
    background-color: rgba(245, 245, 245, 0.856);

}
.space{
    margin-right: 20px; 
}

.wallpaper3{
    background-image: url("Owari_no_seraph_wallpaper_2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1500px;
    
}

.wallpaper2{
    background-image: url("Gundam-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1480px;
    
}

.wallpaper{
    background-image: url("Servamp_2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1498px;
    
}
.nav-item{
    padding: 10px;
}
.list{
    background-color: rgba(193, 201, 77, 0.575);
}
.links{
    background-color: rgba(193, 201, 77, 0.575);
}
.container{
    background-color: lightblue ;
}

.border{
    background-color: beige;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%; 
}

.sites{
    background-color: lightblue;
}
.text{
    background-color: azure;
}
h2{
text-align: center;
}
.note{
    background-color: rgba(193, 201, 77, 0.575);
    color: indigo; 
}

.highlight{
    background-color: rgba(193, 201, 77, 0.575)
}

head{
    color: gold
}