nav{
    background-color: white;
}
body{
    background-color: lightblue ;
}
.container-fluid{
    background-color: rgba(245, 245, 245, 0.856);

}
.space{
    margin-right: 20px; 
}

.music{
    background-image: url("Owari_no_seraph_wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1550px;
    
}

.nav-item{
    padding: 10px;
}
.list{
    background-color: rgba(77, 192, 201, 0.726);
}
.container{
    background-color: lightblue ;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%; 
}

.text{
    background-color: azure;
}
h2{
text-align: center;
}