@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework 5</h1>
    <p class="lead"> This is for making the request for any problems in apartment buildings. Here is the link for this assingment</p>
    <p><a href="http://www.wou.edu/~morses/classes/cs46x/assignments/HW5_1819.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <p>If you have any request for housing. Please submit a request form.</p>

    <h3>Request forms:</h3>
    <p><a href="/Home/Forms" class="btn btn-primary btn-lg">Fill Out &raquo;</a></p>
</div>