@model IEnumerable<HW6.Models.Person>
@{
    ViewBag.Title = "Home Page";
}

@*This is the design of the search function of the controller, which takes the string values and returns it to the view from the person model.*@


<div class="col-3"></div>
<div class="col-6">
    <h2 id="title">Client Search</h2>
    <div class="row">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group" style="max-width: none">
                    @Html.TextBox("Search", "", new
       {
           @class = "form-control", @id="search",
           placeholder = "Client search",
           required = "required"
       })
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>

            if (ViewBag.show)
            {
                <br />

                if (Model.Count() == 0)
                {
                    <h3 style="color:red">Sorry no such client exist</h3>


                }
                else
                {
                    <div>
                        <h3>Client</h3>
                    </div>
                    <br />
                    foreach (var person in Model)
                    {
                        <div>
                            <a class="text-info" href="Home/Details/@person.PersonID" role="button">@person.FullName (@person.PreferredName)</a>
                        </div>


                    }
                }


            }
        }
    </div>
</div>

<div class="col-3"></div>